/* imports */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* global styles */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

button {
  color: hsla(0, 0%, 100%, 0.96);
  font-size: 1.2rem;
  font-weight: 600;
  padding: 0.75rem;
  background-color: rgb(255, 56, 92);
  border: none;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 25px 20px -20px;
}

button:disabled {
  color: rgba(255, 255, 255, 0.88);
  background-color: rgba(255, 56, 92, 0.56);
}

/* typography styles */
html,
body {
  color: rgb(34, 34, 34);
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

/* section/element styles */
html,
body {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  background-color: #f6f6f6;
}

.gameboard {
  width: 100%;
  max-width: 480px;
  height: 100%;
  padding: 1rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 0.5fr 2fr;
  gap: 1rem;
}

.gameboard__computer,
.gameboard__user {
  width: 100%;
  padding: 1.5rem;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background: radial-gradient(
    farthest-corner at 40px 40px,
    rgba(255, 56, 92, 0.04) 30%,
    rgba(255, 56, 92, 0.5)
  ); */
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 25px 20px -20px;
}

.gameboard__computer > p,
.gameboard__user > p {
  width: 100%;
  min-height: 58px;
  padding: 0;
  margin: 2rem 0;
}

.gameboard__computer-selection,
.gameboard__user-selection {
  font-size: 2.986rem;
  font-weight: 800;
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gameboard__dialog {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gameboard__para {
  font-size: 1.728rem;
  text-align: center;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gameboard__btn-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
}

.win-pill-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.win-pill-container > p {
  padding: 0;
  margin: 0;
}

.win-pill {
  width: 0.75rem;
  height: 0.75rem;
  background-color: rgba(255, 56, 92, 0.24);
  border-radius: 50%;
}

.win-pill.filled {
  background-color: rgba(255, 56, 92, 1);
}
